include versioneer.py venv_tools/_version.py
include README.rst
include LICENSE
recursive-include docs *
recursive-exclude docs/_build *
include doc-requirements.txt
include test-requirements.txt
recursive-include tests *.py
include pylintrc
include tox.ini
exclude appveyor.yml
